.edit_textfield{
	-fx-font-family: Arial;
	-fx-font-size: 13;
	-fx-font-style: Italic;
}
.savebtn{
	-fx-background-color: #1565C0;
	-fx-border-radius: 0;
}
.savebtn:hover{
	-fx-background-color: #e53935;
}
.closebtn{
	-fx-fill:gray;
}
.closebtn:hover{
	-fx-fill:#3e597d;
}